/*Request Page*/
body {
    height: 1500px;
}

.request-page header {
    
    height: 120px;
    position: relative;
    /* background-color: aqua; */
}

#logo-image {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left:10px;
}

.left-page {
    width:40%;
    
}

.heading h1,.heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size:5rem;
}

.right-page-demo-link {
    width: 60%;
}

.ignored-text{
    font-size: 0.80em;
}

.right-page-book-demo {
    background-color: #FDF6F0;
}

.right-page-book-demo input[type = "text"],input[type="number"]{
    width:400px;
}
.request-form-body p {
    font-size:0.95em;
    opacity: 0.8;
}

.submit-button {
    width:300px;
    margin-left: 25%;
    
}


/*Pricing Page*/
#information{
    width:70%;
    text-align: left;
    position: absolute;
    left:18%;
    top:55%;
}

#information-2 {
    width: 70%;
    text-align: left;
    position: absolute;
    left: 18%;
    top:70%;
}

.card-group {
    margin-top: 400px;
    width: 80%;
    margin-left: 10%;
    border: none;
}


.card-pricing-header {
    height:180px;
    /* border:none; */
    
    border-radius: 10px;
    color:#222831;
    align-items: center;
    justify-content: center;
    display:inherit;
    flex-wrap: wrap;
}

.card-pricing-header:hover{
    transition: background-color 0.5s;
    background-color: #1E6F5C;
    color:white;
}

.custom-made{
    background-color: #1E6F5C;
    color:whitesmoke;
}



/*Pricing Table Positioning CSS*/
.heading-3 {
    height: 67px;   
}
.heading-4 {
    height: 78px;
}

/* #training-header {
    padding-top: 20px;
    height: 83px;
} */
.excel-support-last{
    height:61px;
}
.book-now-1 {
    height:80px;
}

#into-week {
    height: 68px;
}