

#signup {
   width:50%;
   height:510px;
}

#signup h2 {
    text-align: center;
    
}

#form-main{
    border-radius: 20px;
    width:50%;
    height:550px;
    
    position:absolute;
    right:3%;
    top:6%;

    background: rgba( 255, 255, 255, 0.13 );
    box-shadow: 0 8px 32px 3px rgba( 31, 38, 135, 0.35 );
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
    border-radius: 16px;
    border: 1px solid rgba( 255, 255, 255, 0.13 );
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

#title{
   position: absolute;
   left:10%;
   top:4%;
}

.sign-up-heading {
    top:10px;
    position: relative;
    left:40%;
}

.main-animation{
    width:35%;
    height: 70%;
    position:absolute;
    left:5%;
    top:25%;
    
    

}

.circle {
    width:130px;
    height:130px;
    background-image: radial-gradient( circle farthest-corner at 1.5% 1.4%,  rgba(159,227,255,1) 0%, rgba(255,177,219,1) 100.2% );
    border-radius: 100%;
    position: absolute;
    right:39%;
    
}

.display-4 {
    font-weight: 600;
}

/*********************************Navigation Bar*******************************************/
.navbar {
    font-family: "Open Sans";
    font-weight: 600;
    font-size:1.2rem;
    height: 110px;
    position:-webkit-sticky;
    background-color: #444444;
}

#first-div{
    margin-left:90px;
    margin-right:1rem;
    text-align: center;
    

}

#first-div::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: #1c8adf;
    left: 328px;
    transition:width 300ms;
}

#first-div:hover::after {
    width:80px;
}

#second-div::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: #1c8adf;
    left: 440px;
    transition:width 300ms;
}

#second-div:hover::after {
    width:80px;
}


#third-div::after {
    content: "";
    position: absolute;
    width: 0px;
    left: 550px;
    height: 3px;
    background-color: #1c8adf;
    transition:width 300ms;
}

#third-div:hover::after {
    width:100px;
}

#fourth-div::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #1c8adf;
    transition: width 300ms;
}

#fourth-div:hover::after {
    width: 105px;
}

#fifth-div::after {
    content: "";
    position: absolute;
    width: 0;
    height:3px;
    background-color: #1c8adf;
    transition:width 300ms;
}

#fifth-div:hover::after {
    width:100px
}
#log-in {
    margin-left: 70px;
    margin-top:7px;
}
#sign-up::before {
    content: "";
    position: absolute;
    width:0;
    height:3px;
    background-color: #1c8adf;
    transition:width 300ms;
}

#sign-up::after {
    content:"";
    position:absolute;
    width: 0;
    height:3px;
    background-color: #1c8adf;
    transition: width 300ms;
}

#sign-up:hover::before,#sign-up:hover::after {
    width:80px;
}
#demo-button{
    background-color: #1c8adf;
    border-radius: 8px;
}



/*************************************** Sign in Page ***********************************/
#sign-in-body {
   background-image: radial-gradient( circle 590px at 8.2% 13.8%,  rgb(63, 79, 104) 0%, rgba(46, 32, 65, 0.993) 90% );
}

#sign-in {
    width: 400px;
    height:420px;
    position: relative;
    margin:60px auto;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#sign-in h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 70px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  


}


.input-group {
    width:80%;
    left:10%;
}

.main-heading {
    text-align: center;
    padding-top: 10px;
}

/*Home Page CSS*/
#home-page-body {
    position: relative;
    background-image: none;
    background-color: #444444;
}
#logo-image {
    height: 50px;
    width: 50px;
}

#body-circle {
    position:absolute;
    right: -260px;
    width: 600px;
    height: 600px;
    border-radius:100%;
    background: rgba( 97, 247, 194, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    top:240px;
    
}

#sqlimage {
    width: 550px;
    height: 300px;
    border-radius: 4px;
}

#sql-image-div{
    position: absolute;
    z-index: 2;
    right: 50px;
    top:160px;

}

.text-box {
    width:55%;
    height: 300px;
    position:relative;
    top:100px;
    left:30px;
    font-family: "Open Sans";
}

#another-page {
    width:100%;
    height:550px;
    background-color: azure;
    position: relative;
    top:280px;
}

/*Another Page CSS*/
#another-page h1 {
    text-align: center;
    padding-top:40px;
}



.logo img {
    width: 230px;
    height: 110px;
    border-radius: 10px;
}

/*********************************************************Feedback CSS****************************************/


#feedback-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 5rem;
    padding-top:100px;
}


#feedback-header {
    height: 400px;
    width: 100%;
    background-color: #444444;
}

#contact-us-title {
    margin-top:50px;
    font-family: Montserrat;
    font-size: 3rem;
}

#feedback-body {
    width:70%;
    margin-top:50px;
    font-size: 1rem;
}

#feedback-form input,#feedback-form textarea {
    width:50%;
}

#feedback-div {
    position: absolute;
    left: 500px;
    width: 60%;
    height: 700px;
}

#feedback-form {
    height: 300px;
}
#submit-btn {
    margin-left:90px;
    margin-right: 60px;
}


/*Footer*/


footer {
    width:100%;
    height: 300px;
    position: relative;
    top:300px;
    background-color: white;
    font-family: "Montserrat";
    
}

#footer-about-us {
    width:100%;
    height: 300px;
    position: relative;
    top:90px;
    background-color: white;
    font-family: "Montserrat";
}

footer h5 {
    font-weight: 600;
}

#company-info-footer {
    margin-top:30px;
    position:absolute;
    align-items: center;
    margin-left:50px;
    width:30%;
    
}

#footer-links {
    margin-top: 30px;
    position: absolute;
    width: 30%;
    height:200px;
    /* left: 430px; */
}

#company-links {
    width:30%;
    height:200px;
    position:absolute;
    margin-top:30px;
}

#company-links-list {
    width:50%;
    /* margin-left:90px; */
}

#company-links-list a{
    /* text-decoration: none; */
    color:black;
}


.buttons {
    width:420px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    margin-bottom: 30px;
    margin-top:23px;
}   


/*Cards*/

#cards-page,.card{
    background-color: #444444;
    color:white;
    position:relative;
    left:65px;
    top:40px;
    font-family: "Open Sans";
    border: none;
}

h5.card-title{
    font-weight: 700;
    font-size:1.75rem;
}

.card img {
    width: 310px;
    height: 160px;
    
}

.card {
    transition:all 500ms;
}

.card:hover {
    -webkit-box-shadow: 2px 2px 29px -2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 29px -2px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 29px -2px rgba(50, 50, 50, 0.75);
}

.card-text {
    font-size:1.1rem;
}

#cards-div {
    position:relative;
    top: 280px;
    width:80%;
    height:500px;
    background-color: #444444;
}


/*About US Page*/

#about-us-header {
    height: 400px;
    width: 100%;
    background-color: #444444;
    padding-top: 100px;
}

#about-us-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size:5rem;
    
}

#about-us-card-title {
    margin-top:55px;
    margin-bottom: 55px;
}

#about-us-info {
    width: 70%;
    height: 510px;
}

/*SnackBar*/
#snackbar{
    padding-top:30px;
    width:30%;
    height:100px;
    position:absolute;
    background-color: lightsalmon;
    text-align: center;
    z-index: 1;
    left:240px;
    top:1200px;
}

.disagreement {
   color:red;
   text-decoration: underline;
    
}

/*****************************************Feedbacks By Customers CSS****************************************/
#feedbacks-customers{
   /* height:400px; */
   margin-top:90px;
   
}

#feedback-customers-header {
    margin-bottom: 60px;
}

#feedback-customers-body {
    overflow: auto;
}

/****************************************Confirm Box Dialog CSS*********************************/
#confirm-box {
    height:100px;
    width:100%;
    text-align: center;
}